{% extends 'admin/base.html' %}
{% load static %}


{% block content %}


      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <!-- <div class="col-lg-6 grid-margin"> -->
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Travello Destinations</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Destination Name</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Paris</td>
                                    <td>
                                        <img src="{% static 'images/destination_1.jpg' %}" alt="Paris" class="img-thumbnail" style="max-width: 150px; max-height: 150px; width: 150px; height: 150px; object-fit: cover;"/>
                                    </td>
                                    <td>Beautiful city of lights with iconic Eiffel Tower and rich cultural heritage</td>
                                    <td>$ 1,299.99</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a href="Admin_edit" class="btn btn-primary btn-sm">
                                                <i class="mdi mdi-pencil"></i> Update
                                            </a>
                                            <a href="#" class="btn btn-danger btn-sm">
                                                <i class="mdi mdi-delete"></i> Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Tokyo</td>
                                    <td>
                                        <img src="{% static 'images/destination_2.jpg' %}" alt="Tokyo" class="img-thumbnail" style="max-width: 150px; max-height: 150px; width: 150px; height: 150px; object-fit: cover;"/>
                                    </td>
                                    <td>Vibrant metropolis blending ultra-modern technology with traditional culture</td>
                                    <td>$ 1,599.50</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a href="Admin_edit" class="btn btn-primary btn-sm">
                                                <i class="mdi mdi-pencil"></i> Update
                                            </a>
                                            <a href="#" class="btn btn-danger btn-sm">
                                                <i class="mdi mdi-delete"></i> Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Maldives</td>
                                    <td>
                                        <img src="{% static 'images/destination_3.jpg' %}" alt="Maldives" class="img-thumbnail" style="max-width: 150px; max-height: 150px; width: 150px; height: 150px; object-fit: cover;"/>
                                    </td>
                                    <td>Tropical paradise with crystal clear waters and luxurious overwater bungalows</td>
                                    <td>$ 2,499.00</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a href="Admin_edit" class="btn btn-primary btn-sm">
                                                <i class="mdi mdi-pencil"></i> Update
                                            </a>
                                            <a href="#" class="btn btn-danger btn-sm">
                                                <i class="mdi mdi-delete"></i> Delete
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
             
                </div>
              </div>
            </div>
            
            
            
          <!-- </div> -->
        </div>



        
        
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       


{% endblock %}



